In [1]:
def quadrado(var):
    return var**2

In [2]:
quadrado(2)

4

In [3]:
lambda var: var **2

In [10]:
seq=[1,2,3,4,5]

In [13]:
list(map(quadrado, seq))

[1, 4, 9, 16, 25]

In [14]:
list(map(lambda x:x**2, seq))

[1, 4, 9, 16, 25]

In [15]:
list(filter(lambda item: item%2==0, seq))

[2, 4]

In [16]:
list(filter(lambda item: item%2!=0, seq))

[1, 3, 5]

In [17]:
str= "Olá, meu nome é Brunna"

In [18]:
type(str)

str

In [19]:
str.lower()

'olá, meu nome é brunna'

In [20]:
str.upper()

'OLÁ, MEU NOME É BRUNNA'

In [21]:
str.split()

['Olá,', 'meu', 'nome', 'é', 'Brunna']

In [22]:
str.split("!")

['Olá, meu nome é Brunna']

In [23]:
str.split(",")

['Olá', ' meu nome é Brunna']

In [24]:
len(str.split("!"))

1

In [25]:
len(str.split(","))

2

In [26]:
len(str.split())

5

In [30]:
list= [1,2,3,]

In [31]:
list.append(4)

In [32]:
list

[1, 2, 3, 4]

In [33]:
last= list.pop()

In [34]:
last

4

In [35]:
list

[1, 2, 3]

In [36]:
first= list.pop(0)

In [37]:
first

1

In [38]:
list

[2, 3]

In [39]:
"x" in [1,2,3]

False

In [40]:
"x" in ["x","y","z"]

True

In [47]:
d = {'k1':[1,2,3,{'café':['banana','mulher','colher',{'alvo':[1,2,3,'olá']}]}]}

In [56]:
d["k1"][3]["café"][3]["alvo"][3]

'olá'